

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #ffffff;
    font-size: 14px;
    color: #666666;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'pt_sansregular';
    font-weight: normal;
}
/*==========================================
PRE LOADER
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
	color:#ffffff;
    text-decoration:none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #f56363;
}

h1,
h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    /*font-family: 'roboto', sans-serif;*/
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.sections2 {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
	overflow:hidden;
	min-height:600px;
}
.overlay2 {
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
	overflow:hidden;
	min-height:650px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 1px;
    width: 150px;
    margin: auto;
    background: #f56363;
}
.separator2 {
    height: 1px;
    width: 30px;
    background: #d1d1d1;
	margin:20px 0;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
}



/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 18px;
  font-family: 'oswaldlight';
}
input::-moz-placeholder {
  color: #CACACA;
  font-size: 18px;
  font-family: 'oswaldlight';
}
input:-ms-input-placeholder {
  color: #CACACA;
  font-size: 18px;
  font-family: 'oswaldlight';
}
textarea::-webkit-input-placeholder
{
  color: #CACACA;
  font-size: 18px;
  font-family: 'oswaldlight';
}
textarea::-moz-input-placeholder
{
  color: #CACACA;
  font-size: 18px;
  font-family: 'oswaldlight';
}
textarea::-ms-input-placeholder
{
  color: #CACACA;
  font-size: 18px;
  font-family: 'oswaldlight';
}

/*For Our Global CSS*/

.heading-content {
	margin-bottom:40px;
}
.heading-content h3{
	text-transform:uppercase;
	font-family: 'oswaldbold';
	color:#000;
}
.heading-content img{
	margin:30px 0;
}
.heading-content p{
	width:60%;
	margin:0 auto;
	font-family: 'pt_sansitalic';
}

.more a{
	font-size:16px;
	font-family: 'oswaldregular';
	letter-spacing:1px;
	border-bottom:2px solid #000;
}
.more a:hover{
	border-bottom:2px solid red;
	color:red;
}




/* --------------------------------

For Menu Bar Design

-------------------------------- */
.cd-header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
	background:#292929;
  z-index: 5;

}

#cd-logo {
    position: absolute;
    left: 10px;
    top:14px;
	color:#ffffff;
}
#cd-logo h1 {
  font-size:18px;
  font-family: 'oswaldlight';
  letter-spacing: 1px;
  line-height: 25px;
  color:#FFFF;

}
@media only screen and (min-width: 768px) {
    #cd-logo {
        left: 20px;
    }
}
@media only screen and (min-width: 1170px) {
    #cd-logo {
        left: 60px;
    }
}
#nav{
  width: 100%;
  top: 28px;
  height: 80px;
  padding-top: 24px;
  padding-right: 30px;
  text-align: right;
}
#nav li{
  display: inline-block;
}
#nav li a {
    padding-left: 20px;
    padding-right: 20px;
    font-size:12px;
    font-family: 'oswaldlight';
    letter-spacing: 1px;
    line-height: 25px;
    color:#FFFF;
    border-right: 1px solid;
}
.no-touch #nav li a:hover {
    font-size: 14px;
    padding: 16px;
}
#nav li:last-child a {
    border-bottom: none;
}

/*For Home Page Style*/


#home {
  width:100%;
  background-color: black;
  margin-top: 80px;
  text-align: center;
}
#home p{
  font-size:12px;
  font-family: 'oswaldlight';
  letter-spacing: 3px;
  color:#FFFF;
  border-right: 1px solid;
}

/*For About Section */
.about-wrapper .about-content{
	margin-bottom:20px;
}
.about-wrapper .about-content h5{
	font-family: 'lobsterregular';
	font-size:18px;
	color:#000;
}
.about-wrapper .about-content h5 span i{
	color:#666666;
	padding-left:10px;
}
.about-content p{
  padding: 10px;
  font-size:14px;
  font-family: 'oswaldlight';
}

/* Portfolio Section */
.main_mix_content .main_mix_menu button{
	background:transparent;
	border:transparent;
	text-transform:uppercase;
	font-size:16px;
	font-family: 'oswaldregular';
	color:#000;
}
.main_mix_content .main_mix_menu button:hover, .main_mix_content .main_mix_menu button:active, .main_mix_content .main_mix_menu button:visited, .main_mix_content .main_mix_menu button:focus{
	color:#666666;
	border:0;
	border-radius:0;
	border-color:transparent;
	outline:0;
}
.main_mix_content .main_mix_menu button span{
	padding-left:10px;
	padding-right:-5px;
	color:#e9e9e9;
}

.main_mix_menu{
    margin-bottom:50px;
}
.single_mixi_portfolio{
    float: left;
    width:100%;
	padding:8px;

}
.single_mixi_portfolio img{
    width:100%;
    opacity: 0.8;
}
.single_mixi_portfolio img:hover{
  opacity: 1;
}
.mixi_portfolio_overlay{
	border-bottom:2px solid #ededed;
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
}
.single_mixi_portfolio:hover .mixi_portfolio_overlay{
    opacity:1;
}

.mixi_portfolio_overlay .overflow_hover_text i{
    color:#fff;
    font-size: 40px;
}
.mixi_portfolio_overlay .overflow_hover_text h2{
    color:#000;
    font-size:18px;
    font-family: 'lobsterregular';
	margin-top:10px;
	margin-bottom: -25px;
}
.mixi_portfolio_overlay .overflow_hover_text p{
    color:#000;
	font-family: 'pt_sansitalic';
	font-size:13px;
	margin: 20px 0;
}

.test .mix{
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 50% 0;
}
.portfolio .more{
	text-align:center;
}

/* For Video Section*/
.video{
	background: url(../images/video.jpg) no-repeat center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	color:#fff;
}
.video-content{
	margin-top:200px;
}
.video .video-content a{
	border-bottom:0;
}
.video .video-content a i{
	border: 1px solid #fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 100%;
    text-align: center;
	color:#fff;
	font-size:30px;
}

/* For Skills Section*/

.skills-content h5{
	font-size:18px;
	font-family: 'oswaldbold';
	color:#000;
}
.skills-content h6{
	font-size:14px;
	font-family: 'pt_sansitalic';
}

.skillbar {
    background: #EFEFEF;
    display: block;
    height:25px;
    margin-bottom:10px;
    position: relative;
    transition-delay: 0s;
    transition-duration: .4s;
    transition-property: width, background-color;
    transition-timing-function: linear;
    width: 100%;
}

.skillbar-bar.blue {
    background-color: #292929;
    height: 25px;
    width: 0;
}
.skillbar-title {
    color: #323232;
    font-size: 14px;
    left:5px;
    position: absolute;
    top: -5px;
    width:100%;
}
.skillbar-title h3{
    font-size:14px;
    font-family: 'pt_sansitalic';
    color:#fff;

}

/* For News Section*/
#news{
    background-color: #EFEFEF;
}
.news-wrapper {
	margin-top:40px;
}
.news-content h5{
	text-transform:uppercase;
	font-family: 'oswaldbold';
	color:#000;
}
.news-content p{
  padding: 10px;
  font-size:14px;
  font-family: 'oswaldlight';
}

/* For Contact Section*/
.contact-wrapper .contact-details i{
	font-size:30px;
	color:#909090;
}
.contact-wrapper .contact-details h5{
	text-transform:uppercase;
	font-size:12px;
	font-family: 'oswaldregular';
	color:#909090;
}

/*For Footer Section*/
.footer{
  font-family: 'oswaldregular';
	background:#292929;
	color:#707070;
	padding:50px 0;
}
.heading-content h4{
  color:#FFFF;
}
.footer-item  i{
  font-family: 'oswaldregular';
	font-size:22px;
	color:#bdbdbd;
}
.footer-item .logo{
	margin:10px 0 30px 0;
}
/*Scroll Up*/

.scrollup{
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background: #e3d1ad;
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-weight: bold;
    border-radius: 100%;
    transition:all 500ms .2s;
    cursor:pointer;
}
.scrollup:hover{
    background: #fcf1dd;
    color: #333;
    transform:scale(1.1);
}
